<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="mt-4 mb-4">View Profile</h2>
      <button class="btn">
        <i class="fas fa-pencil-alt"></i>
      </button>
    </div>
    <div class="col-md-6">
      <h2>
      
    </h2>
    </div>
  </div>
  

  <form>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName"
          >First Name
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            value="John"
            readonly
          />
        </label>
      </div>

      <div class="form-group col-md-4">
        <label for="lastName"
          >Last Name
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            value="Doe"
            readonly
          />
         
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="email"
        >Email
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="john@example.com"
          readonly
        />

       
      </label>
    </div>
    <div class="form-group">
      <label for="phone"
        >Phone Number
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          value="123-456-7890"
          readonly
        />

      
      </label>
    </div>
    <div class="form-group">
      <button for="resume">
        Resume
       
      </button>
    </div>
  </form>

  <form>
    <button class="btn">
      Edit Profile
    </button>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="firstName"
          >First Name
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            value="John"
            readonly
          />
        </label>
      </div>

      <div class="form-group col-md-4">
        <label for="lastName"
          >Last Name
          <input
            type="text"
            class="form-control"
            id="lastName"
            name="lastName"
            value="Doe"
            readonly
          />
        </label>
      </div>
    </div>
    <div class="form-group">
      <label for="email"
        >Email
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          value="john@example.com"
          readonly
        />
      </label>
    </div>
    <div class="form-group">
      <label for="phone"
        >Phone Number
        <input
          type="tel"
          class="form-control"
          id="phone"
          name="phone"
          value="123-456-7890"
          readonly
        />
      </label>
    </div>
    <div class="form-group">
      <button for="resume">Resume</button>
    </div>
  </form>
</div>
