<div class="container">
  <h2 class="mt-4 mb-4">Employers</h2>

  <div class="row">
    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 1</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 2</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 3</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 4</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>

    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 5</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="employer">
        <h4>Company Name 6</h4>
        <p>Location: City, State</p>
        <p>
          Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <a href="#" class="btn btn-primary">View Jobs</a>
      </div>
    </div>
  </div>
</div>
