<div class="container">
  <h2>Post a Job</h2>
  <form>
    <div class="form-group">
      <label for="jobTitle"></label>
      <input
        type="text"
        class="form-control"
        id="jobTitle"
        name="jobTitle"
        placeholder="Enter job title"
      />
    </div>

    <div class="form-group">
      <label for="companyName"></label>
      <input
        type="text"
        class="form-control"
        id="companyName"
        name="companyName"
        placeholder="Enter company name"
      />
    </div>

    <div class="form-group">
      <label for="jobDescription"></label>
      <textarea
        class="form-control"
        id="jobDescription"
        name="jobDescription"
        rows="4"
        placeholder="Enter job description"
      ></textarea>
    </div>

  
    <div class="form-group">
      <label for="skills"></label>
      <input
        type="text"
        class="form-control"
        id="skills"
        name="skills"
        placeholder="Enter skills"
      />
    </div>

    <button type="submit" class="btn btn-primary">Post Job</button>
  </form>
</div>
