<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h4>Sign Up for a free account</h4>
        </div>
        <div class="card-body">
          <form>
            <div class="mb-3">
              <label for="firstName" class="form-label">First Name</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                [(ngModel)]="user.firstName"
                name="firstName"
                required
              />
            </div>
            <div class="mb-3">
              <label for="lastName" class="form-label">Last Name</label>
              <input
                type="text"
                class="form-control"
                id="lastName"
                [(ngModel)]="user.lastName"
                name="lastName"
                required
              />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="user.email"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Create Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="user.password"
                name="password"
                required
              />
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Confirm Password</label>
              <input
                type="password"
                class="form-control"
                id="confirmpassword"
                [(ngModel)]="user.password"
                name="password"
                required
              />
            </div>
            <div class="mb-3">
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="userType"
                  id="jobseeker"
                  value="jobseeker"
                />
                <label class="form-check-label" for="jobseeker">
                  Jobseeker
                </label>
              </div>
              <div class="form-check form-check-inline">
                <input
                  class="form-check-input"
                  type="radio"
                  name="userType"
                  id="employer"
                  value="employer"
                />
                <label class="form-check-label" for="Employer">
                  Employer
                </label>
              </div>
            </div>

            <button type="submit" class="btn btn-primary">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
